{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - A propos {% endblock %}

{% block body %}

    <section class="wrapper timeline about my-5 py-5">

        <h1 class="py-5">A propos de Bye Blues</h1>

        <p class="my-5 p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
        </p>

        <p class="my-5 p-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
        </p>

        <ul>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2010</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div>
                    <img src="/upload/parents.png" alt="photo">
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2012</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2014</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div>
                    <img src="/upload/sommeil.png" alt="photo">
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2016</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div >
                    <img src="/upload/baby.png" alt="photo">
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2018</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2019</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="bg-transparent">
                    <img src="/upload/soutient/semia.png" alt="photo">
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div class="p-3">
                    <time class="d-block fs-4 fw-bold">2021</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
                </div>
            </li>

            <li class="py-5 mx-md-auto">
                <div>
                    <img src="/upload/team.jpg" alt="photo">
                </div>
            </li>

        </ul>
    </section>

{% endblock %}
