{% extends 'admin/baseAdmin.html.twig' %}

{% block title %} {{ parent() }} - Produits {% endblock %}

{% block body %}
    <h1 class="text-center">{% trans %} Modifier le tag {% endtrans %}</h1>

    {{ include('admin/produit/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="d-flex">
        <a class="d-inline mx-auto my-2 mx-2 btn btn-primary" href="{{ path('admin_item') }}">{% trans %} Retour à la liste des produits {% endtrans %}</a>
    </div>

    {{ include('admin/produit/_delete_form.html.twig') }}
{% endblock %}
