{% extends 'admin/baseAdmin.html.twig' %}

{% block title %} {{ parent() }} - {% trans %} Nouveau produit {% endtrans %} {% endblock %}

{% block body %}
    <h1 class="text-center">{% trans %} Nouveau produit {% endtrans %}</h1>

    {{ include('admin/produit/_form.html.twig') }}
<div class="d-flex justify-content-center">
    <a class="d-inline my-2 mx-2 btn btn-primary" href="{{ path('admin_item') }}">{% trans %} Retour à la liste des produits {% endtrans %}</a>
</div>
{% endblock %}
