{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Notre solution
{% endblock %}

{% block body %}
    <main class="solution pb-5 starsSection">
        <section class="wrapper position-relative container">

            <div class="intro col-md-7">
                <h1 class="my-md-5">Notre Solution</h1>

                <p class="ms-md-5 py-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                </p>
            </div>

            <div class="d-none d-md-flex text-end w-100 justify-content-end ">

                <div class="text-center w-50 align-self-center">
                    <a href="#" class="btn-full">Redirection</a>
                </div>

                <div class="w-50 text-center">
                    <img src="/upload/depression.png" alt="photo depression" class=""/>
                </div>

            </div>

        </section>

        <section class="description wrapper position-relative py-md-5">

            <div class="mb-5 d-md-flex container">

                <div class="col-md-6">
                    <p class="my-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                    </p>

                    <p class="my-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nesciunt possimus minima, explicabo quisquam nam in, voluptatibus sint rerum, quam quae cumque beatae vitae. At omnis eligendi ab cupiditate vero!
                    </p>
                </div>

                <div class="mt-5 align-self-center text-center col-md-6">
                    <a href="#" class="btn-full">Redirection</a>
                </div>

            </div>

            <div class="d-none d-md-block text-center">
                <img src="/upload/maternage.png" alt="photo paternage" class="w-50">
            </div>

        </section>

        <section class="support bg-light my-5">

            <h4 class="py-5 fs-2 text-center text-dark">Soutenue par</h4>

            <div class="d-flex flex-column flex-md-row justify-content-around align-items-center p-4">

                <li class="col-md-2 col-6 mb-4 p-md-5">
                    <img src="/upload/expert/pierre-alexis-geoffroy.png" alt="logo em-Strasbourg">
                    <h5 class="text-dark my-2 text-center">Pierre-Alexis Geoffroy</h5>
                </li>

                <li class="col-md-2 col-6 mb-4 p-md-5">
                    <img src="/upload/expert/david-hicks.png" alt="logo docaposte">
                    <h5 class="text-dark my-2 text-center">David Hicks</h5>
                </li>

                <li class="col-md-2 col-6 mb-4 p-md-5">
                    <img src="/upload/expert/carmen-schroeder.png" alt="logo semia">
                    <h5 class="text-dark my-2 text-center">Carmen Schroeder</h5>
                </li>

                <li class="col-md-2 col-6 mb-4 p-md-5">
                    <img src="/upload/expert/paul-pevet.png" alt="logo hacking-health">
                    <h5 class="text-dark my-2 text-center">Paul Pevet</h5>
                </li>

            </div>

        </section>

    </main>

{% endblock %}