{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le blog de ByeBlues{% endblock %}

{% block body %}
    <h1>Bienvenue sur le blog de ByeBlues</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores at autem dicta,
dolorem eaque earum eligendi eos ipsam iste magni necessitatibus nobis odit repudiandae
similique tempora voluptatibus? Ab, quam?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, asperiores at autem dicta,
dolorem eaque earum eligendi eos ipsam iste magni necessitatibus nobis odit repudiandae
similique tempora voluptatibus? Ab, quam?</p>

{% endblock %}