.about {
    
    ul {

        li{
            position: relative;
            width: 1px;
            background: #fff;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #ffffff;
            }

            div {
                position: relative;
                bottom: 0;
                width: 400px; 
                background: $orange;
                border-radius: 15px;
            }
        }

        li:nth-child(odd) div {
           left: 45px;

            &::before {
                left: -15px;
                border-width: 8px 16px 8px 0;
                border-color: transparent $orange transparent transparent;
            }
        }

        li:nth-child(even) div {
            left: -439px;

            &::before {
                right: -15px;
                border-width: 8px 0 8px 16px;
                border-color: transparent transparent transparent $orange;
            }
        }
    }


}

/* EFFETS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.3s ease-in-out;
}

.timeline ul li.in-view::after {
  background: $orange;
}

.timeline ul li div {
  /* visibility: hidden; */
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  /* visibility: visible; */
  opacity: 1;
}


/*MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 150px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent $orange transparent transparent;
  }
}
